<ion-card>
  <div class="map">
    <google-map
      [zoomControl]="false"
      [gestureHandling]="'none'"
      [origin]="trip.data.origin.coords"
      [destination]="trip.data.destination.coords"
      [stationStart]="trip.data.stationStart.coords"
      [stationEnd]="trip.data.stationEnd.coords"
      [walking1Points]="trip.data.walking1Travel.points"
      [walking2Points]="trip.data.walking2Travel.points"
      [bicyclingPoints]="trip.data.bicyclingTravel.points">
    </google-map>
  </div>
  <ion-item>
    <h4 class="clearfix">
      <span class="title">{{ trip.data.status }} Trip</span>
      <span class="miles-minutes">{{ trip.totalDistance | distance }} <span class="middot">&#8226;</span> {{ trip.totalTime | time }}</span>
    </h4>
    <p class="clearfix">
      <span class="date">{{ trip.data.departureTime | date:'M/yy'}}</span>
      <span class="time">{{ trip.data.departureTime | date:'h:mm a'}} - {{ trip.data.arrivalTime | date:'h:mm a'}}</span>
      <span class="price">{{ trip.totalPrice | currency:'USD':true }}</span>
    </p>
  </ion-item>
</ion-card>
