<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Trips</ion-title>-->
    <!--<ion-buttons end>-->
      <!--<signin-button></signin-button>-->
    <!--</ion-buttons>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->
<ion-tabs [tabsPlacement]="tabsPlacement" [tabsLayout]="tabsLayout" [selectedIndex]="tabIndex">
  <ion-tab [root]="upcomingPage" tabTitle="Upcoming" tabIcon="arrow-round-forward"></ion-tab>
  <ion-tab [root]="pastPage" tabTitle="Past" tabIcon="arrow-round-back"></ion-tab>
  <ion-tab [root]="statsPage" tabTitle="Stats" tabIcon="trending-up"></ion-tab>
</ion-tabs>

<!--<ion-content padding>-->
  <!--<ion-segment [(ngModel)]="timeDirection">-->
    <!--<ion-segment-button value="upcoming">-->
      <!--Upcoming-->
    <!--</ion-segment-button>-->
    <!--<ion-segment-button value="past">-->
      <!--Past-->
    <!--</ion-segment-button>-->
  <!--</ion-segment>-->

  <!--<ion-list-->
    <!--*ngIf="timeDirection === 'past'">-->
    <!--<trip-card-->
      <!--*ngFor="let trip of upcomingTrips"-->
      <!--[trip]="trip"-->
      <!--(click)="onTripClicked(trip)">-->
    <!--</trip-card>-->
  <!--</ion-list>-->
  <!--<ion-list-->
    <!--*ngIf="timeDirection === 'upcoming'">-->
    <!--<trip-card-->
      <!--*ngFor="let trip of pastTrips"-->
      <!--[trip]="trip"-->
      <!--(click)="onTripClicked(trip)">-->
    <!--</trip-card>-->
  <!--</ion-list>-->
<!--</ion-content>-->


