<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle icon-only>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button large menuClose ion-item *ngFor="let p of initialPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button large menuClose ion-item *ngFor="let p of userPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button *ngIf="(isAnonymous | async)" large menuClose ion-item (click)="openPage(loginPage)">
        <ion-icon item-left name='person'></ion-icon>
        Sign in
      </button>
      <button *ngIf="!(isAnonymous | async)" large ion-item (click)="signOut()">
        <ion-icon item-left name='person'></ion-icon>
        Sign out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
