<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle icon-only>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button
        [ngClass]="{active: isActive(p)}"
        large
        menuClose
        ion-item
        *ngFor="let p of initialPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button
        [ngClass]="{active: isActive(p)}"
        large
        menuClose
        ion-item
        *ngFor="let p of userPages" (click)="openPage(p)">

        <ion-icon item-left [name]="p.icon"></ion-icon>
        <span>{{ p.title }}</span>

      </button>

      <ion-item>
        <signin-button></signin-button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
