page-address-modal {
  .small-divider {
    height: 10px;
    width: 100%;
    background-color: lightgrey;
  }

  .no-results {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 0.9em;
    margin-top: 200px;
  }

  ion-content {
    position: relative;

    .fetching {
      position: absolute;
      left: calc(50% - 16px); // minus half the width of the spinner
      top: 200px;
    }
  }


}
