page-address-modal {
  .small-divider {
    height: 10px;
    width: 100%;
    background-color: lightgrey;
  }

  .placeholder-message {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 0.9em;
    margin-top: 200px;
  }
}
