<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    #searchbar
    id="searchbar"
    (input)="searchChange($event)"
    (ionClear)="clearInput()"
    placeholder="Address or place name">
  </ion-searchbar>
  <ion-list>
      <div *ngIf="userAddress$ | async">
        <ion-item (click)="chooseCurrentLocation()">
          <ion-icon
            name="locate"
            item-start>
          </ion-icon>
          Current Location
        </ion-item>
        <div class="small-divider"></div>
      </div>
      <ion-item
        (click)="chooseAutocompleteItem(result)"
        *ngFor="let result of autocompleteResults | async">
        <ion-icon name="pin" item-start></ion-icon>
        {{ result.structured_formatting.main_text }}
        <p>{{ result.structured_formatting.secondary_text }}</p>
      </ion-item>
    <div class="placeholder-message" *ngIf="!(autocompleteResults | async)">No results to show</div>
  </ion-list>
</ion-content>
